.light-mode {
  background: linear-gradient(to right, #f2f2f2, #dcdcdc);
  color: #000000;
  border: 5px solid var(--color-primary);
  border-top: none;
}
.light-mode h5 {
  color: #000000;
}
.element-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2rem;
}
/* Estilos para los botones de idioma */
.language {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.flag-button {
  width: 20px; /* Ajusta el tamaño de las banderas según tu preferencia */
  height: 20px;
  margin: 0;
  padding: 0;
}

.mode-button {
  padding: 0.5rem 1rem; /* Ajusta el padding del botón de modo */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff; /* Cambia el color del texto a blanco */
}

.light-mode-button {
  color: #000000; /* Cambia el color del texto a negro en el modo claro */
}


/* --- MEDIA QUERIES (MEDIUM DEVICES) --- */

@media screen and (max-width: 1024px) {
  .about__container {
    
  }
}