.light-mode {
  background: linear-gradient(to right, #f2f2f2, #dcdcdc);
  color: #000000;
  border: 5px solid var(--color-primary);
  border-top: none;
}

.light-mode h5 {
  color: #333333;
}

.light-button input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.mode {
  padding: 1rem;
}
