.light-mode {
  background: linear-gradient(to right, #f2f2f2, #dcdcdc);
  color: #000000;
  border: 5px solid var(--color-primary);
  border-top: none;
}

.light-mode h5 {
  color: #000000;
}

.light-button {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  align-items: center;
}
.light-button input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.language {
  margin: 10px;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}
.language:active {
  transform: translateY(2px);
}
.mode {
  transition: transform 0.2s ease;
  cursor: pointer;
}
.mode:active {
  transform: translateY(2px);
}
